<div fxFlex="100" fxLayout="column" class="header">
  <div class="first-section m-top-4" fxFlex="100" fxLayout="row" fxLayoutAlign="center stretch">
    <div class="container">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="23" fxLayoutAlign="space-between">
          <a href="#">
            <mat-icon class="mat-icon">translate</mat-icon> English
          </a>
          <a href="#">
            <mat-icon class="mat-icon">person</mat-icon> Contact Sales
          </a>
        </div>
        <div fxFlex="30" fxLayoutAlign="space-between">
          <a href="#">
            <mat-icon class="mat-icon">search</mat-icon>
          </a>
          <a (click)="logout()">
            Logout
          </a>
          <a href="#">
            Customer Support
          </a>
          <a href="#">
            About
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="second-section">
    <div class="container m-top-4">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="40" fxLayoutAlign="space-between">
          <div class="logo-container">
            <img src="./assets/img/hubspot-wordmark.svg" alt="Logo">
          </div>
          <a href="#">Software</a>
          <a href="#">Pricing</a>
          <a href="#">Resources</a>
        </div>
        <div fxFlex="20" fxLayoutAlign="end">

          <button class="m-bottom-4" mat-raised-button color="warn">Get HubSpot free</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-section">
    <div class="hsg-footer__layout">
      <nav class="hsg-footer__nav">
        <div class="hsg-footer__nav-left" role="navigation">
          <section class="hsg-footer__nav-column hsg-footer__nav-column-left">
            <label>Popular Features</label>
            <ul>
              <li class="hsg-footer__nav-item" data-order="0">
                <a href="" data-order="0" data-linkorder="0">Free Meeting Scheduler App</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="1">
                <a href="" data-order="1" data-linkorder="1">Social Media Tools</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="2">
                <a href="" data-order="2" data-linkorder="2">Email Tracking Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="3">
                <a href="" data-order="3" data-linkorder="3">Sales Email Automation</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="4">
                <a href="" data-order="4" data-linkorder="4">Ads Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="5">
                <a href="" data-order="5" data-linkorder="5">Email Marketing Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="6">
                <a href="" data-order="6" data-linkorder="6">Lead Management Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="7">
                <a href="" data-order="7" data-linkorder="7">Pipeline Management Tools</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="8">
                <a href="" data-order="8" data-linkorder="8">Sales Email Templates</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="9">
                <a href="" data-order="9" data-linkorder="9">Help Desk Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="10">
                <a href="" data-order="10" data-linkorder="10">Free Online Form Builder</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="11">
                <a href="" data-order="11" data-linkorder="11">Free Chatbot Builder</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="12">
                <a href="" data-order="12" data-linkorder="12">Free Live Chat Software</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="13">
                <a href="" data-order="13" data-linkorder="13">Marketing Analytics</a>
              </li>

              <li class="hsg-footer__nav-item" data-order="14">
                <a href="" data-order="14" data-linkorder="14">Free Landing Page Builder</a>
              </li>

            </ul>
          </section>

        </div>
        <div class="hsg-footer__nav-right" role="navigation">
          <div class="hsg-footer__nav-full" role="navigation">
            <section class="hsg-footer__nav-column ">
              <label>Free Tools</label>
              <ul>
                <li class="hsg-footer__nav-item" data-order="0">
                  <a href="" data-order="0" data-linkorder="0">Website Grader</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="1">
                  <a href="" data-order="1" data-linkorder="1">Make My Persona</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="2">
                  <a href="" data-order="2" data-linkorder="2">Email Signature Generator</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="3">
                  <a href="" data-order="3" data-linkorder="3">Blog Ideas Generator</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="4">
                  <a href="" data-order="4" data-linkorder="4">Invoice Template Generator</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="5">
                  <a href="" data-order="5" data-linkorder="5">Marketing Plan Generator</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="6">
                  <a href="" data-order="6" data-linkorder="6">Free Business Templates</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="7">
                  <a href="" data-order="7" data-linkorder="7">Industry Benchmark Data</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="8">
                  <a href="" data-order="8" data-linkorder="8">Software Comparisons Library</a>
                </li>

              </ul>
            </section>

          </div>
          <div class="hsg-footer__nav-full" role="navigation">
            <section class="hsg-footer__nav-column ">
              <label>Company</label>
              <ul>
                <li class="hsg-footer__nav-item" data-order="0">
                  <a href="" data-order="0" data-linkorder="0">About Us</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="1">
                  <a href="" data-order="1" data-linkorder="1">Careers</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="2">
                  <a href="" data-order="2" data-linkorder="2">Management Team</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="3">
                  <a href="" data-order="3" data-linkorder="3">Board of Directors</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="4">
                  <a href="" data-order="4" data-linkorder="4">Investor Relations</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="5">
                  <a href="" data-order="5" data-linkorder="5">Blog</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="6">
                  <a href="" data-order="6" data-linkorder="6">Contact Us</a>
                </li>

              </ul>
            </section>

          </div>
          <div class="hsg-footer__nav-split" role="navigation">
            <section class="hsg-footer__nav-column ">
              <label>Customers</label>
              <ul>
                <li class="hsg-footer__nav-item" data-order="0">
                  <a href="" data-order="0" data-linkorder="0">Customer Support</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="1">
                  <a href="" data-order="1" data-linkorder="1">Join a Local User Group</a>
                </li>

              </ul>
            </section>

            <section class="hsg-footer__nav-column ">
              <label>Partners</label>
              <ul>
                <li class="hsg-footer__nav-item" data-order="0">
                  <a href="" data-order="0" data-linkorder="0">All Partner Programs</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="1">
                  <a href="" data-order="1" data-linkorder="1">Solutions Partner Program</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="2">
                  <a href="" data-order="2" data-linkorder="2">App Partner Program</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="3">
                  <a href="" data-order="3" data-linkorder="3">HubSpot for Startups</a>
                </li>

                <li class="hsg-footer__nav-item" data-order="4">
                  <a href="" data-order="4" data-linkorder="4">Affiliate Program</a>
                </li>

              </ul>
            </section>

          </div>
        </div>
      </nav>
    </div>
    <section class="contact-links">
      <ul class="footer_social">
        <li>
          <a href="" target="_blank" class="hstc_facebook">
            <mat-icon class="mat-icon">facebook</mat-icon>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="hstc_instagram">
            <mat-icon class="mat-icon">facebook</mat-icon>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="hstc_youtube">
            <mat-icon class="mat-icon">facebook</mat-icon>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="hstc_twitter">
            <mat-icon class="mat-icon">facebook</mat-icon>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="hstc_linkedin">
            <mat-icon class="mat-icon">facebook</mat-icon>
          </a>
        </li>
      </ul>
    </section>
    <section class="footer_bottom">
      <div class="footer_logo" role="img">
        <a href="" aria-label="HubSpot Home Logo">
          <img class="hsg-deferred hsg-deferred-loaded" data-src="https://www.hubspot.com/hubfs/WBZ-1165%20Global%20Nav%20Redesign/Wordmark-White.svg" alt="HubSpot Logo" src="https://www.hubspot.com/hubfs/WBZ-1165%20Global%20Nav%20Redesign/Wordmark-White.svg" data-was-processed="true">
        </a>
        <p>Copyright © 2021 HubSpot, Inc.</p>
      </div>
      <div class="footer_copyright">
        <ul>
          <li><a href="#">Legal Stuff</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
